<a href="https://colab.research.google.com/github/harishvenkatram/data-science-101-b1-Nov20/blob/main/Day4-13th%20Nov'20%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Question 1
#Solution
import pandas as pd
print("Version of Pandas is: ",pd.__version__)

Version of Pandas is:  1.1.4

In [4]:
#Question 2
#Solution
# importing Pandas & numpy 
import pandas as pd 
import numpy as np 
data = np.array(['a', 'b', 'c', 'd', 'e']) 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [7]:
#Question 3
#Solution
import pandas as pd 
df = pd.DataFrame({'S.No.': ['01', '02', '03', '04'], 
                   'Name': ['Siva ', 'Ram', 'Lakshnman ', 'Guru'], 
                   'Age': [27, 20, 30, 22], 
                   'City': ['Pune', 'Mumbai', 'Patna', 'Ahmedabad'], 
                   'State': ['Maharashtra', 'Maharashtra', 'Bihar', 'Gujarat']}) 
df

  S.No.        Name  Age       City        State
0    01       Siva    27       Pune  Maharashtra
1    02         Ram   20     Mumbai  Maharashtra
2    03  Lakshnman    30      Patna        Bihar
3    04        Guru   22  Ahmedabad      Gujarat

In [13]:
#Question 4
#Solution
import seaborn as sb
print(sb.get_dataset_names())
sb.load_dataset('mpg')

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [15]:
#Question 5
#Solution
import seaborn as sb
ds=sb.load_dataset('mpg')
ds['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [28]:
#Question 6
#Solution
import pandas as pd
import seaborn as sb
ds=sb.load_dataset('mpg')
ds.columns()

AttributeError: ignored